<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dubbo.dao.InstitutionDao">
	<select id="getInsByName" resultType="org.dubbo.common.Institution">
		select *  from sf_institution where
		name=#{name}
	</select>
</mapper>